
.background {
    width: 100%;
    height: 100vh;
    background: #25273e;
    background: -webkit-linear-gradient(to right, #fe5b56, #25273e);
    background: linear-gradient(to right, #fe5b56, #25273e);
}